{% extends 'base.html.twig' %}

{% block title %}Passwort zur端cksetzen{% endblock %}

{% block body %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box">
                <h1 class="title is-4 has-text-centered">Passwort zur端cksetzen</h1>

                {% for flash_error in app.flashes('error') %}
                    <div class="notification is-danger">
                        {{ flash_error }}
                    </div>
                {% endfor %}

                <form method="post">
                    <div class="field">
                        <label class="label" for="email">E-Mail</label>
                        <div class="control">
                            <input class="input" type="email" id="email" name="email" required autofocus>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">
                                Zur端cksetzen anfordern
                            </button>
                        </div>
                    </div>

                    <div class="has-text-centered mt-4">
                        <a href="{{ path('app_login') }}">Zur端ck zum Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
