{% extends 'base.html.twig' %}

{% block title %}
    Eintrag nicht gefunden
{% endblock %}

{% block body %}

	<div class="container">
        <br/>
        <br/>
		<p class="notification is-danger">
            Eintrag nicht gefunden
        </p>
        <br/>
        <br/>
	</div>
{% endblock %}
