{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if ea.crud.currentAction == 'edit' %}
    {{ form_widget(form) }}
{% endif %}

{% if field.value is not empty %}
    <div class="mt-2">
        {% if field.value ends with '.pdf' %}
            <a href="{{ field.value }}" target="_blank" class="btn btn-link">
                <i class="fas fa-file-pdf fa-2x"></i>
                <span class="ms-1">PDF anzeigen</span>
            </a>
        {% else %}
            <a href="{{ field.value }}" target="_blank">
                <img src="{{ field.value }}" class="img-thumbnail" style="max-height: 100px; max-width: 200px;">
            </a>
        {% endif %}
    </div>
{% endif %}
