{# templates/admin/custom_button_field.html.twig #}
{% set current_ruestzeit = current_ruestzeit_service.get %}

{% if current_ruestzeit.id != entity.instance.id %}
<a href="{{ path('admin_anmeldung_edit', {'entityId':  entity.instance.id }) }}"
   class="btn btn-sm btn-primary">
    {{ 'Bearbeiten' }}
</a>
{% endif %}