:root {
  --bulma-family-primary: "Nunito", sans-serif !important;

  --bulma-label-color: #363636 !important;
  --bulmna-box-color: #757763;
}

.planfreizeit_layout {
  .control,
  .input,
  .select,
  .textarea {
    --bulma-control-border-width: 2px;
    --bulma-input-border-width: 2px;
    --bulma-input-border-color: #dbdbdb;
  }
}

.radio + .radio {
  margin-left: 10px;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/nunito-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/nunito-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #eee;
}
.container {
  li {
    list-style: square;
    margin-left: 20px;
  }

  max-width: 960px;
}

.help-text {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.entry_description_outer {
  background-color: #fff;
  min-height: 25vh;
  // padding: 10px 20px;

  .entry_description {
    padding: 25px;
    min-height: 700px;
  }
}

.entry_location_details {
  float: right;

  width: 300px;
  // height: 250px;

  // display: flex;
  // align-items: flex-end;
  shape-outside: margin-box;

  // padding:10px;
  border-left: 30px solid #eee;
  border-bottom: 30px solid #eee;
  background-color: #eee;

  border-radius: 0 !important;
  border-bottom-left-radius: 30px !important;

  margin-left: 10px;
  margin-bottom: 10px;

  .card {
    box-shadow: none !important;
  }

  > .card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.login {
  &.container {
    background-color: transparent;
  }
}

h1.title {
  padding-top: 1.5rem;
}

.container {
  div.emailfield {
    position: absolute;
    top: calc(100% - 200%);
  }
}
form sup {
  color: red;
  margin-left: 5px;
}
form .invalid-feedback {
  color: red;
  font-size: 12px;
}

@media (max-width: 600px) {
  h1.title {
    font-size: clamp(15px, 5vw, 22px);
    padding-left: 5px;
  }
  .entry_description_outer {
    display: grid;
    grid-template-areas:
      "content"
      "header";

    &.mb-5 {
      margin-bottom: 0 !important;
    }
    .entry_child_container {
      grid-area: content;
    }
    .entry_description {
      grid-area: header;

      padding: 10px;

      min-height: auto;
    }
  }
  .more_registration_text {
    display: block !important;
    padding-left: 0 !important;
    width: 100% !important;
    padding-top: 24px;
  }

  .entry_location_details {
    width: 100%;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 0px;
    border-bottom-left-radius: 0 !important;
    margin-bottom: 0;

    .card {
      display: none;
    }

    img {
      width: calc(100% - 5px);
    }
  }

  button.is-success {
    width:100%;
  }
}

#toast-container.toast-top-center.toast-full-width > div {
  width: 80%;
  opacity: 0.9;
}
div.bottom_version {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #aaa;

  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-label-color: white !important;
  }
  .entry_description_outer {
    background-color: #14161a;
  }
  .entry_location_details {
    border-color: black;
    background-color: black;
  }
  body {
    background-color: black;
  }
  .label {
    color: white;
  }

  .input,
  .select select,
  .textarea {
    background-color: #000 !important;

    &::placeholder {
      color: #777;
    }
  }
}
