body {
  background-color: #eee;
}
.container {
  li {
    list-style: square;
    margin-left: 20px;
  }
}

.entry_description_outer { 
  background-color: #fff; 
  min-height: 25vh;
  // padding: 10px 20px;

  .entry_description {
    padding:25px;
    min-height: 700px;
  }

}

.entry_location_details {
  float: right;

  width: 300px;
  // height: 250px;  

  // display: flex;
  // align-items: flex-end;
  shape-outside: margin-box;

  // padding:10px;
  border-left:30px solid #eee;
  border-bottom:30px solid #eee;
  background-color: #eee;

  border-radius:0 !important;
  border-bottom-left-radius: 30px !important;  

  margin-left:10px;
  margin-bottom:10px;

  .card {
    box-shadow: none !important;
  }

  > .card:not(:last-child) {
    margin-bottom:20px;
  }
}



.login {
  &.container {
    background-color: transparent;
  }
}

h1.title {
  margin-top: 1.5rem;
}

.container {
  div.emailfield {
    position: absolute;
    top: calc(100% - 200%);
  }
}
form sup {
  color:red;
  margin-left:5px;
}
form .invalid-feedback {
  color:red;
  font-size:12px;
}

