{% extends 'emails/base.html.twig' %}

{% block content %}
    <h1>Passwort zurücksetzen</h1>
    
    <p>Sie haben eine Anfrage zum Zurücksetzen Ihres Passworts gestellt.</p>
    
    <p>Klicken Sie auf den folgenden Button, um ein neues Passwort zu setzen:</p>
    <br/>
    <a href="{{ resetUrl }}" class="button">Neues Passwort setzen</a>
    <br/>
    <p>Dieser Link ist gültig bis: {{ expiresAt|date('d.m.Y H:i:s') }}</p>
    <br/>
    
    <p>Falls Sie diese Anfrage nicht gestellt haben, können Sie diese E-Mail ignorieren.</p>
    
    <div class="footer">
        <p>Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht darauf.</p>
    </div>
{% endblock %}