<div>
    <h2>Rüstzeit Freigabe Einladung</h2>
    
    <p>Sie wurden eingeladen, auf die folgende Rüstzeit zuzugreifen:</p>
    
    <h3>{{ ruestzeit.title }}</h3>
    
    <p>
        Um die Freigabe zu akzeptieren, klicken Sie bitte auf den folgenden Link:<br>
        <a href="{{ url('admin_share_invitation_accept', {token: invitation.token}) }}">Freigabe akzeptieren</a>
    </p>
    
    <p>
        <small>
            Hinweis: Sie müssen mit dem Account angemeldet sein, welcher die E-Mail-Adresse {{ invitation.email }} verwendet.
        </small>
    </p>
</div>
